* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(111, 82, 73);
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5rem;
}

body {
    font-family: font-family, 'Lora', serif;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fdfaf2;
}

a {
    color:#b40808;
    
  }

a:hover {
    color:rgb(238, 97, 16);
  }

main {
    margin: auto;
}
#hero {
    background-blend-mode: darken, luminosity;
    max-height: 240px;
    background-attachment: fixed;
    background-size: cover;
    top:0px;
    background-repeat: no-repeat;
    width:100%;
}

img[src*="#round"] {
    border-radius: 15px;
    padding: 5px;
    margin-top: 2rem;
    max-width: 100%;
}

h1 {
    font-family: 'Loved by the King', cursive;
    position:sticky;
    top: 37%;
    left: 50%;
    text-align: center;
    width:100%;
    z-index: 1;
    padding: 1rem;
    font-size: 4rem;
    line-height: 3rem;
    color: #fdfaf2;
    letter-spacing: 0.3rem;
    
}


h2, h3 {
    font-family: 'Loved by the King', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    text-align: center;
    margin-top:2rem;
}
h3 {
    font-size: 1.5rem;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    padding: 0 0 0 3%
}

.menu_burger {
    display: none;
    padding: 0 20px;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}

ul {
    display: flex;
    margin: auto;   
}

nav ul a {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
   
}

.navigation_item {
    padding-right: 50px;  
}

.logo-nav {
    max-height:100px;
}

.logo-nav img{
    width:100px;
    height:auto;
    border-radius:50%;
    margin-top: 36px;
    margin-left: 20px;
    z-index: 1;
    position: relative;
}

.logo-nav img:hover {
    transform: rotate(-45deg);
    transition: transform 2s ease-out;
}
 #hero {
    min-height:400px;
 }

 p {
    text-align: center;
    padding: 2rem;
 }
 /* Footer */
.footer {
    background-color: #f5f0e1;
    font-size: small;
    padding-top: 0;
    padding-bottom: 1rem;
}

footer a {
    font-weight:600;
}
footer h3 {
    font-size: 1.2rem;
    text-align: left;
}


#footer_block {
    display: flex;
    padding: 4em;
    
}

.logo {
    border-radius: 50%;
    width : 80px;
    height : auto;
}
.logo:hover {
    transform: rotate(-45deg);
    transition: transform 2s ease-out;
}

.f_down {
    display: flex;
    justify-content: center;
   /* display: flex;
    justify-content: center;
    padding: 15% 0 0 0;*/

}
.footer_list {
    
    padding: 0 70px 0 70px;
}
.footer-list__title {

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}




/* Media queries */
/* Small devices (landscape phones, up to 576px) */
@media (max-width: 576px) {
    .navigation_items {
        display: none;
    }
    h1 {
        font-size: 3rem;;
    }

    h2 {
        font-size: 2rem;
        
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 700;
    }
    .menu_burger, .navigation_login {
        display: inherit;
        display:flex; 
        justify-self: flex-end;   
    }
    .nav:first-child {
        margin:auto;
    }

}