* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:rgb(111, 82, 73);
    
}

body {
    background-color: #fcf9ef;
    font-family: font-family, 'Lora', serif;
    font-size: 1em;
    line-height: 1.5em;
}


#hero {
    min-height: 640px;
    background-attachment: fixed;
    background-size: cover;
    top:0px;
    background-repeat: no-repeat;
    width:100%;
}
/* .container {
    background-color: #fcf9ef;
} */

h1 {
    font-family: 'Caveat', cursive;
    position: absolute;
    z-index: 1;
    /* background: #97909073; */
    top: 250px;
    padding: 1rem;
    font-size: 5rem;
    line-height: 4rem;
    color: white;
    text-align: center;
    margin: 2rem
}

#x, #m, #n, #o, #u {
    background: linear-gradient(to right,white, rgb(241, 218, 233), rgba(240, 221, 14, 0.813),  rgb(238, 97, 16),rgba(240, 221, 14, 0.813), rgb(241, 218, 233), white);
    color: rgb(238, 97, 16);
    line-height:0.1rem;
    font-size: 0.1rem;
    margin-top:1rem;
    margin-bottom:1rem;
}


h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-family: 'Caveat', cursive;
    color: #6a4d37;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
}

h5 {
    font-family: 'Quicksand', sans-serif;
    padding: 0 0 0 3%;
}

.menu_burger {
    display: none;
    padding: 0 20px;
    z-index: 10;
}

.side_menu {
    height: 100vh;
    width: 0%;
    position:absolute;
    top: 50px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(101, 82, 65, 0.8);
    transition: 550ms ease-in-out;
    overflow: hidden;

}

.side_menu .active {
    width: 70%;
    transition: width 750ms ease-in-out;
    overflow: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.07em;
    background-color: white;
}

a {
  color:#3d1b1b;
  font-weight:600;
}
a:hover {
    color: #8b6548;
    
}

ul { 
    display: flex;
    margin: auto;   
}

nav ul li {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    opacity: 0.8;
    font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
}

.navigation_items {
    padding: 0 20px;
    
}
.logo-nav {
    height:100px;
}

.logo-nav img{
    border-radius:50%;
    margin-top: 36px;
    margin-left: 20px;
    z-index: 1;
    position: relative;
}

.logo-nav img:hover {
    width:100px;
    height:auto;

}

/* container section 1 */
table:first-child {
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0;
}

table:first-child td {
    padding:0;
}

table {
    max-width: 100vw;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

img[src*="#margin"] {
    margin-bottom: -5rem;
}

img[src*="#max"] {
    max-width:90%;
    height:auto;
    margin-left:15px;
    border-radius: 8px;
    box-shadow: 5px 3px 5px rgb(192, 181, 181);
}


table strong {
    font-family: font-family,'Caveat', cursive;
    font-size: 1.5rem;
    
}

table em {
    color:white;
}

td {
    padding:2.5rem;
}

th {
    text-align: left;
    
}


img[src*="#girl"] {
    width: 49%;
    height: auto;
}

/* container section 3 */
table:last-child {
    
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

table:last-child td {
    padding:0;
}

#mesderniresdestinations, #parcequechaquevoyageestdiffrent { 
    
    letter-spacing: 0.4rem;
    text-align: left;
    padding-left: 30px;
    padding-bottom:2px;
}

/* Footer */
.footer {
    margin-top:50px;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    padding-top: 0;
    padding-bottom: 1rem;
}

#footer_block {
    display: flex;
    padding: 4em;
    
}

.logo {
    border-radius: 50%;
    width : 80px;
    height : auto;
}

.f_down {
    display: flex;
    justify-content: center;
   
}
.footer_list {
    /*margin: 2%;*/
    padding: 0 50px 0 50px;
}
.footer-list__title {
    padding-bottom: 2%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: medium;
}




/* Media queries */
/* Small devices (landscape phones up to 576px) */
@media (max-width: 576px) {
    ul {
        display: none;
    }
    .logo-nav img {
       
        width: 85px;
        height: auto;
        margin: auto;
        z-index: 1;
        top: 10px;
        left:250px;
        position:absolute;
    }
    .menu_burger {
        display: inherit;
        display:flex; 
        justify-self: flex-end;   
    }
    
    .nav:first-child {
        margin:auto;
    }

    table:first-child img {
        max-width: 100%;
        height:auto;
    }
    table:first-child em {
        display: none;
    }

    h1 {
        font-size: 3rem;
        top: 100px;
    }
    h2 {
        font-size: 2rem;
        list-style: 0.3rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    .footer_list {
        flex-direction: column;
        font-size: x-small;
    }

}
@media (max-width: 320px) {

    .container {
        margin: 0;
        padding: 0;
    }
    ul {
        display:none;
    }
    img {
        max-width: 100%;
    }
    .logo-nav img {
        width: 70px;
        height: auto;
        margin: auto;
        z-index: 1;
        top: 10px;
        left: 200px;
    }


    br {
        display:none;
    }
    br :not(table:nth-child(3) thead tr th:last-child) {
        display:none
    }
      
    h1 {
        font-size: 1.7rem;
        line-height: 1.8rem;
        top: 80px;
        margin: 10px;
    }
    h2 {
        font-size: 1rem;
        line-height: normal;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    table:first-child img {
        max-width: 100px;
        height:auto;
    }
    table:first-child thead tr th:last-child {
        display:none;
    }

    img[src*="#girl"] {
        display: none;
    }
    table {
        margin:0;
        padding: 0;
    }
    table strong {
        font-size: 1rem;
    }
    table strong br {
        display: flex;
    }
    
    table:last-child {
        overflow:hidden;
    }
    table:last-child tbody td {
        display:none;
    }
    table tbody tr td img {
        max-width: 300px;
    }
    table tbody tr td:last-child {
        display:none;
    }
    .menu_burger {
        display: inherit;
        display:flex; 
        justify-self: flex-end;
    }
   
    
    .footer_list {
        display:none;
    }
   
    .media {
        display: contents;
        display: flex;
    }
    .media h3 {
        display:none;
    }
    .footer_list {
        flex-direction: column;
        font-size: x-small;
    }
    .f_down {
        max-width: 300px;
    }
    #mestop9conseilspourbienvoyager {
        margin: 20px, 0;
    }
    #parcequechaquevoyageestdiffrent {
        display:none;
      
    }
    #mesderniresdestinations {
        
        font-weight: normal;
        padding-left: 5px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

}