* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:rgb(111, 82, 73);  
}

body {
    font-family: font-family, 'Lora', serif;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fdfaf2;
}

.menu_burger {
    display: none;
    padding: 0 20px;
    z-index: 10;
}

.side_menu {
    height: 100vh;
    width: 0%;
    position:absolute;
    top: 50px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(101, 82, 65, 0.8);
    transition: 550ms ease-in-out;
    overflow: hidden;

}

.side_menu .active {
    width: 70%;
    transition: width 750ms ease-in-out;
    overflow: auto;
}


nav {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}


.navigation_item {
    padding-right: 50px;
}

a {
    color:#b40808;
    
}

a:hover {
    color:rgb(238, 97, 16);
    
}

a:active {
    color: #8b6548;
}

ul { 
    display: flex;
    margin: auto;   
}


.logo-nav {
    max-height:100px;
}

.logo-nav img{
    width:100px;
    height:auto;
    border-radius:50%;
    margin-top: 36px;
    margin-left: 20px;
    z-index: 1;
    position: relative;
}

.logo-nav img:hover {
    transform: rotate(-45deg);
    transition: transform 2s ease-out;
}


#hero {
    background-blend-mode: darken, luminosity;
    min-height: 640px;
    background-attachment: fixed;
    background-size: cover;
    top:0px;
    background-repeat: no-repeat;
    width:100%;
}


h1 {
    
    font-family: "Loved by the King", cursive;
    font-style: italic;
    position: sticky;
    z-index: 1;
    top: 37%;
    padding: 1rem;
    font-size: 5rem;
    line-height: 5rem;
    color: rgba(253, 250, 242, 0.877);
    text-align: center;
    margin: 2rem;
    letter-spacing: 0.4rem;
}

h1 span {

    color: #fdfaf2;
    /* font-style:normal; */
    text-transform: uppercase;
    font-weight: 600;
    text-shadow:2px 3px rgba(253, 250, 242, 0.825);
}

#x, #m, #n, #o, #u {
    background: linear-gradient(to right,white, rgb(241, 218, 233), rgba(240, 221, 14, 0.813),  rgb(238, 97, 16),rgba(240, 221, 14, 0.813), rgb(241, 218, 233), white);
    color: rgb(238, 97, 16);
    line-height:0.1rem;
    font-size: 0.1rem;
    margin-top:1rem;
    margin-bottom:1rem;
}


h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Caveat', cursive;
    font-family: "Loved by the King", cursive;
    font-weight: 600;
    /* color:#222731; */
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
}

h5 {
    font-family: 'Quicksand', sans-serif;
    padding: 0 0 0 3%;
}





/* container section 1 */


table {
    
    max-width: 100%;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
   
}

table:first-child {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0;
    
}

img[src*="#margin"] {
    display:block;
    height:auto;
    margin-bottom: -5rem;
    background-color:rgba(51, 48, 48, 0.416);
    background-blend-mode: darken, luminosity;
}

img[src*="#width"] {
    max-width:100%;

}

img[src*="#max"] {
    max-width:90%;
    height:auto;
    margin-left:15px;
    border-radius: 8px;
    box-shadow: 5px 3px 5px rgb(192, 181, 181);
}


table strong {
    font-family: "Loved by the King", cursive;
    font-size: 1rem;
    color:rgb(238, 97, 16);
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

table em {
    color:white;
}

td {
    padding:2.5rem;
}

th {
    background-color: #352e29a2;
    text-align:left;
    background-blend-mode: darken, luminosity;
    
}

th strong {  
    background-color: #f5f0e1d5;
    line-height: 2.5rem;    
}


img[src*="#girl"] {
    max-width: 50vw;
    height: auto;
    margin-left: 10%;
}

/* container section 3 */
table:last-child {
    background-color: #f5f0e1d5;
    padding-top: 15px;
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}
table:last-child th {
    background-color: #f5f0e1d5;
}

table:last-child td {
    padding:0;
    
}

#mes9topconseillespourbienvoyager {
    margin-bottom: 2rem;
}

#mesderniresdestinations, #parcequechaquevoyageestdiffrent { 
    
    text-align: left;
    padding-left: 30px;
    padding-bottom:2px;
}

/* Footer */
.footer {
    margin-top:50px;
    background-color: #f5f0e1;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    padding-top: 0;
    padding-bottom: 1rem;
}

#footer_block {
    display: flex;
    flex-direction: row;
    padding: 4em;
    
}

footer a {
    font-weight: 600;
}


.logo {
    border-radius: 50%;
    width : 80px;
    height : auto;
}

.logo:hover {
    transform: rotate(-45deg);
    transition: transform 2s ease-out;
}

.f_down {
    display: flex;
    justify-content: center;
    margin-top:24px;
   
}
.footer_list {
    /*margin: 2%;*/
    padding: 0 50px 0 50px;
}
.footer-list__title {
    padding-bottom: 2%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: #352e29;
}





/* Media queries */

/* Add small desktops, iPad

/* Small devices (landscape phones up to 576px) */
@media (max-width: 576px) {
    ul {
        display: none;
    }

    #hero {
        min-height: 33vh;
    }

    .logo-nav img {
        width: 85px;
        height: auto;
        margin: auto;
        z-index: 1;
        top: 10px;
        left:250px;
        position:absolute;
    }
    .menu_burger {
        display: inherit;
        display:flex; 
        justify-self: flex-end;   
    }
    
    .nav:first-child {
        margin:auto;
    }

    h2 {
        margin:1rem;
    }

    table:first-child img {
        max-width: 100%;
        height:auto;
    }

    img[src*="#max"] {
        max-width:97%;
        margin:0;
    }

    img[src*="#girl"] {
        width: 150wv;
        height: auto;
        margin-left: 20%;
        
    }

    th strong {
        width:150wv;
    }

    td {
        padding:4px;
        margin:0;
    }

    table strong {
        font-size:1rem;
    }

    table:first-child em {
        display: none;
    }

    h1 {
        font-size: 2rem;
        top: 50px;
    }
    h2 {
        font-size: 1rem;
        list-style: 0.3rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    #footer_block {
        flex-direction: column;
        font-size: x-small;
    }

}
@media (max-width: 320px) {

    .container {
        margin: 0;
        padding: 0;
    }
    ul {
        display:none;
    }
    img {
        max-width: 100%;
    }
    .logo-nav img {
        width: 70px;
        height: auto;
        margin: auto;
        z-index: 1;
        top: 10px;
        left: 200px;
    }


    br {
        display:none;
    }
    br :not(table:nth-child(3) thead tr th:last-child) {
        display:none
    }
      
    h1 {
        font-size: 1.2rem;
        line-height: 1.2rem;
        top: 80px;
        margin: 10px;
    }
    h2 {
        font-size: 1rem;
        line-height: normal;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    table:first-child img {
        max-width: 100px;
        height:auto;
    }
    table:first-child thead tr th:last-child {
        display:none;
    }

    img[src*="#max"] {
        max-width:97%;
    }

    img[src*="#girl"] {
        display: none;
    }
    table {
        margin:0;
        padding: 0;
    }
    table strong {
        font-size: O.8rem;
    }
    
    
    
    table td:last-child {
        display:none;
    }
    .menu_burger {
        display: inherit;
        display:flex; 
        justify-self: flex-end;
    }
   
    
    .footer_list {
        display:none;
    }
   
    .media {
        display: contents;
        display: flex;
    }
    .media h3 {
        display:none;
    }

    #footer_block {
        flex-direction: row;
    }
    .footer_list {
        flex-direction: column;
        font-size: x-small;
    }
    .f_down {
        max-width: 300px;
    }
    #mestop9conseilspourbienvoyager {
        margin: 20px, 0;
    }
    #parcequechaquevoyageestdiffrent {
        display:none;
      
    }
    #mesderniresdestinations {  
        font-weight: normal;
        padding-left: 5px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

}